/* General Navbar Styling */
body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

nav {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: #011b3a; /* Main navbar background */
    z-index: 10;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.logo {
    height: 70px;
    width: auto;
    animation: glowing 2s infinite;
}

.hamburger {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    margin-left: auto;
}

.nav-menu {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.nav-menu.active {
    display: block;
}

.nav-menu-item {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-menu-item:hover {
    text-decoration: underline;
    color: #4caf50;
}

/* Glowing Animation */
@keyframes glowing {
    0% {
        filter: drop-shadow(0 0 5px #4caf50) drop-shadow(0 0 10px #4caf50);
    }
    50% {
        filter: drop-shadow(0 0 20px #4caf50) drop-shadow(0 0 30px #4caf50);
    }
    100% {
        filter: drop-shadow(0 0 5px #4caf50) drop-shadow(0 0 10px #4caf50);
    }
}

/* Dropdown Styles */
.nav-menu-dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #011b3a; /* Same as navbar background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.dropdown-content.visible {
    visibility: visible;
    opacity: 1;
}

.dropdown-content .nav-menu-item {
    color: white; /* Match the navbar text color */
    padding: 10px 20px;
    text-align: left;
    white-space: nowrap;
}

.dropdown-content .nav-menu-item:hover {
    background-color: #4caf50; /* Highlight color on hover */
}

/* Mobile Styles */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #011b3a;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        padding: 20px 0;
        border-radius: 0;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu-item {
        margin: 10px 0;
    }

    .dropdown-content {
        position: static;
        box-shadow: none;
        border: none;
    }
}
