body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

/* Fog animation */
@keyframes fog {
  0% {
    transform: translateX(-100%);
    opacity: 0.6;
  }
  50% {
    transform: translateX(0%);
    opacity: 0.8;
  }
  100% {
    transform: translateX(100%);
    opacity: 0.6;
  }
}

.animate-fog {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1), transparent);
  animation: fog 10s linear infinite;
  transform: scale(2);
}

/* Full height and width fix */
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
